---
layout: home
title: ASU-RSE Events
---
<div class="album py-5 ">
  <div class="container">
      <div class="row">
        <h4>Upcoming Events</h4>
        <ul class="list-group">
          {% assign curr_date = site.time | date: "%Y-%m-%d" %}
          {% for post in site.posts %}
          {% assign event_date = post.event_date | date: "%Y-%m-%d" %}
          {% if curr_date <= event_date %}
            <li class="list-group-item">
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              <p>
              {{post.event_date|date:"%B %d, %Y at %I:%m %p"}}
              {% if post.location %}<br>Location: <a href="https://www.asu.edu/map/interactive/">{{post.location}}</a>{% endif %}
            </p>
              <p>
              {{ post.snippet }}
              </p>
              <p>
              <a href="{{ post.url }}">Read more...</a>
              </p>
              
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
</div>

<div class="album py-5 ">
  <div class="container">
      <div class="row">
        <h4>Past Events</h4>
        <ul class="list-group">
          {% assign curr_date = site.time | date: "%Y-%m-%d" %}
          {% for post in site.posts %}
          {% assign event_date = post.event_date | date: "%Y-%m-%d" %}
          {% if curr_date > event_date %}
            <li class="list-group-item">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
</div>