* {
    font-family: 'Nunito Sans', sans-serif;
}

.btn-primary {
    --bs-btn-bg: #8d1d3f;
    --bs-btn-border-color: #622137;
    --bs-btn-hover-bg: #622137;
    --bs-btn-hover-border-color: #622137;
}

a {
    color: #8d1d3f;
}

a:hover, a:active {
    color: #622137;
}