---
layout: home
---

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            <h2>{{page.series}}</h2>

            <h1>{{ page.event_title }}</h1> 

            <p>
            When: {{page.event_date|date:"%B %d, %Y at %I:%M %p"}} - {{page.event_end|date:"%I:%M %p"}}  
            {% if page.location %}<br>Location: <a href="https://www.asu.edu/map/interactive/">{{page.location}}</a>{% endif %}{% if page.zoom %} and online on <a href="{{page.zoom}}">Zoom</a>{% endif %}
            </p>

            {{ content }}

            {% if page.rsvp %}
            <p>
            So we can plan this event better, please RSVP <a href="{{page.rsvp}}">here</a>.
            </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <a href="{{ "/events" }}">Back to Events</a>
        </div>
    </div>
</div>
